<head>
    <link rel="stylesheet" href="/css/doctor-login.css" type="text/css">
</head>

<div class="container">
    <div class="title">
        <p>DOCTOR <span>PORTAL</span></p>
    </div>
    <form action="./login" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required><br><br>
        <input class="submit" type="submit" value="Login">
    </form>
</div>