<head>
    <link rel="stylesheet" href="/css/patient-signup.css" type="text/css">
</head>

<div class="container">
    <div class="header">
        <div class="el1">
            My<span>Health</span> App 
        </div>
        <div class="el2">
            <a href="http://">New Patients</a>
        </div>
    </div>
    
        <div class="title">
            New Patient Registration
        </div>
        
        <div class="reg-form">
                <form action="#" method="post">
                    <label for="name">Name<span>*</span></label><br>
                    <input type="text" name="name" id="name" placeholder="Enter fullname" required>
                    <label for="age">Age<span>*</span></label><br>
                    <input type="number" name="age" id="age" placeholder="0" required><br>
                    <label for="phone">Phone<span>*</span></label><br>
                    <input type="tel" name="phone" id="phone" required>
                    <label for="gender">Gender<span>*</span></label><br>
                    <input type="radio" name="gender" id="gender" value="Male">Male
                    <input type="radio" name="gender" id="gender" value="Female">Female <br>
                    
                    <label for="exercise">How often do you exercise</label><br>
                    <textarea name="exercise" id="exercise" cols="30" rows="10"></textarea>
                    <label for="medication">Medication taken</label><br>
                    <textarea name="medicaton" id="medication" cols="30" rows="10"></textarea>

                    <p>Family Medical History</p>
                    <div class="med-history">
                        <input type="checkbox" id="allegies" name="allegies" value="Allegies">
                        <label for="allegies"> Allegies</label><br>
                        <input type="checkbox" id="asthma" name="asthma" value="Asthma">
                        <label for="asthma"> Asthma</label><br>
                        <input type="checkbox" id="cancer" name="cancer" value="Cancer">
                        <label for="cancer"> Cancer</label><br>
                        <input type="checkbox" id="diabetes" name="diabetes" value="Diabetes">
                        <label for="diabetes">Diabetes</label><br>
                        <input type="checkbox" id="stroke" name="stroke" value="Stroke">
                        <label for="stroke">Stroke</label><br>
                        <input type="checkbox" id="high" name="high" value="High Blood Pressure">
                        <label for="high">High Blood Pressure</label><br>
                        <input type="checkbox" id="seizures" name="seizures" value="Seizures">
                        <label for="seizures">Seizures</label><br>
                        <input type="checkbox" id="alcoholism" name="alcoholism" value="Alcoholism">
                        <label for="alcoholism">Alcoholism</label><br>
                        <input type="checkbox" id="hepatitis" name="hepatitis" value="Hepatitis">
                        <label for="hepatitis">Hepatitis</label><br>
                        <input type="checkbox" id="heart" name="heart" value="Hear Disease">
                        <label for="heart">Hear Disease</label><br>
                        <input type="checkbox" id="thyroid" name="thyroid" value="Thyroid Disease">
                        <label for="thyroid">Thyroid Disease</label><br>
                        <input type="checkbox" id="surgeries" name="surgeries" value="Surgeries">
                        <label for="surgeries">Surgeries</label>
                    </div>
                    <p>Habitual Consumption</p>
                    <div class="hab-consumption">
                        <input type="checkbox" id="cigarettes" name="cigarettes" value="Cigarettes">
                        <label for="cigarettes">Cigarettes</label><br>
                        <input type="checkbox" id="beverages" name="beverages" value="Alcoholic Beverages">
                        <label for="beverages">Alcoholic Beverages</label><br>
                        <input type="checkbox" id="tea" name="tea" value="Coffee, Tea or Cola">
                        <label for="tea">Coffee, Tea or Cola</label><br>
                        <input type="checkbox" id="other" name="other" value="Other">
                        <label for="other">Other</label><br>
                    </div>
                    <!-- <br><br><br> -->
                    <label for="email">Email<span>*</span></label><br>
                    <input type="email" name="email" id="email" placeholder="example@email.com" required><br>
        
                    <label for="password">Password<span>*</span></label><br>
                    <input type="password" name="password" id="password" placeholder="*********" required> <br>
                    <br>
                    <input type="submit" value="Submit">
                </form>
    </div>
</div>