<head>
    <link rel="stylesheet" href="/css/patient-message.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
    <div class="header">
        <div class="el1">
            <a href="/portal">My<span>Health</span> App </a>
        </div>
        <div class="el2">
            <a href="/portal/patient/visits" id="visits">My Visits</a>
            <a href="/portal/patient/messages" id="messages">Messages</a>
            <a href="#" id="profile">Profile</a>
            <a href="#" id="logout">Logout</a>
        </div>
    </div>
    
        
        <div class="table">
            <div class="title">
                My Messages
            </div>
            <!-- TABLE STARTS HERE --> 
            <div class="container mb-3 mt-3">
                <table class="table table-striped table-bordered mydatatable" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Date Sent</th>
                        <th>Message</th>
                        <th>Attachment</th>
                        <th>Doctor Name</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>07/03/21</td>
                            <td>Follow up appointment on 4/1</td>
                            <td></td>
                            <td>Dr. O. Victor</td>
                        </tr> 
                        <tr>
                            <td>12/03/21/td>
                            <td>Attached are your blood work results.</td>
                            <td> <a href="">blood.jpg</a> </td>
                            <td></td>
                        </tr> 
                        <tr>
                            <td>01/11/21</td>
                            <td>Hi please come to my office today.</td>
                            <td></td>
                            <td>Dr. Frank</td>
                        </tr> 
                        <tr>
                            <td>10/05/21</td>
                            <td>Please pick up chlorothiazide at the nearest pharmacy.</td>
                            <td> <a href="">sample.jpg</a> </td>
                            <td>Dr. 0. Victor</td>
                        </tr> 
                        <tr>
                            <td>03/02/21</td>
                            <td>Are you taking your maintenance medications?</td>
                            <td></td>
                            <td>Dr. Olamide</td>
                        </tr> 
                        <tr>
                            <td>11/11/20</td>
                            <td>STOP DRINKING!</td>
                            <td></td>
                            <td>Dr. Lake</td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <!-- TABLE ENDS HERE -->
        </div>
        
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $('.mydatatable').DataTable({
        // "pagingType": "numbers"
    });
  </script>