* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

.title {
  border-left: 4px solid #fb2a35;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 3rem;
}
.title p {
  color: #162a75;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bolder;
}

span {
  font-weight: normal;
}

label {
  color: #253855;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "MuseoModerno", cursive;
}

input {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  margin-bottom: 1.5rem;
}

.submit {
  margin-top: 2rem;
  background: linear-gradient(269.48deg, #fcbe5a -14.66%, #fb2a35 38.46%);
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  width: 115%;
}

/* flash message */
.alert {
  padding: 10px;
  color: white;
  background-color: #fb2a35;
  margin-bottom: 12px;
  text-align: center;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media screen and (min-width: 480px) {
  .title p {
    font-size: 1rem;
  }
  label {
    font-size: 1.1rem;
  }
  input {
    width: 105%;
  }
  .submit {
    width: 120%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 720px) {
  .title p {
    font-size: 1.3rem;
  }
  label {
    font-size: 1.3rem;
  }
  input {
    width: 110%;
  }
  .submit {
    width: 125%;
    font-size: 1.3rem;
  }
}
