main {
  background-color: #f4f5f9;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 25px 80px;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

.el1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  float: left;
  margin-left: 5em;
}
.el1 span {
  color: #162a75;
}
.el1 a {
  text-decoration: none;
  color: white;
}

.el2 {
  float: right;
  margin-top: 4px;
  margin-right: 3em;
}

.el2 a {
  text-decoration: none;
  color: white;
  padding: 0.6em 0.8em;
  background-color: #162a75;
}

.title {
  margin-left: 1em;
  font-size: 27px;
  margin-top: 4em;
  margin-bottom: 0.6em;
}

.table {
  padding: 1em 1em;
  background-color: white;
}

#visits {
  background-color: #f4f5f9;
  color: #162a75;
  border: 2px solid #162a75;
}
